#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	TARGET_ARCH=-march=armv7 \
	CXX=arm-linux-gnueabihf-g++ \
	LD_FLAGS="-L/usr/lib/arm-linux-gnueabihf -lxcb -lXau -lXdmcp -lpng -lz" \
	dh $@ --parallel
